@import "../../partials/colors";
@import "../../partials/buttons";


.confirm-button-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 60px;
    
}

.confirm-button {
    @include defaultButton;
    padding: 20px;
    font-size: 1em;
}

.confirm-button:hover{
    @include defaultButtonHover;
}
