@mixin Flexer($direction, $wrap, $justify, $align) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin FlexRow($wrap, $justify, $align){
    display: flex;
    flex-flow: row $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin FlexColumn($wrap, $justify, $align){
    display: flex;
    flex-flow: column $wrap;
    justify-content: $justify;
    align-items: $align;
}

$cardHeight: 100px;

.card-cont {
    width: 100%;
    height: $cardHeight;
    padding: 20px 0;
    border-bottom: 1px solid #28282b79;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.card-option-cont {
    width: 100%;
    @include Flexer(row, nowrap, space-between, space-between)
}

.row-start{
    @include FlexColumn(nowrap, space-between, flex-start)
}

.row-end{
    @include FlexColumn(nowrap, space-between, flex-end)
}

.card-img-cont {
    @include Flexer(row, nowrap, center, center)
}

.card-img {
    width: 100px;
    height: $cardHeight;
    object-fit: contain;
    padding-left: 20px;
}

.card-button {
    padding: 10px 20px;
    width: auto;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #36454F;
    transition: all 0.2s ease-out;
    box-sizing: content-box;
    transition: all 0.2s ease-out;
}

.card-button:hover{
    color: white;
    background-color: #28282b79;
}

