@import "../../partials/colors";
@import "../../partials/flexer";
@import "../../partials/buttons";
@import "../../partials/shadows";

$cardHeight: 100px;


.card-cont {
    min-width: 500px;
    height: $cardHeight;
    padding: 20px 20px;
    margin-bottom: 30px;
    border: 1px solid $grey;
    border-radius: 8px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    @include simpleShadow;
}

.card-option-cont {
    @include Flexer(row, nowrap, space-between, space-between);
    padding: 0 20px;
    width: 100%;
    h3{
        margin-bottom: 5px
    }
}

.row-start{
    @include FlexColumn(nowrap, space-between, flex-start);
}

.row-end{
    @include FlexColumn(nowrap, space-between, flex-end);
}

.card-img-cont {
    @include Flexer(row, nowrap, center, center);
}

.card-img {
    width: 100px;
    height: $cardHeight;
    object-fit: contain;
}

.card-button {
    @include defaultButton;
}

.card-button:hover{
    @include defaultButtonHover;
}

