.card-option-cont, .selector-option-cont {
    width: 100%;
    height: 100px;
    padding: 20px 0;
    border-bottom: 1px solid #28282b79;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}


.selector-text-cont-apart {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 225px;
}

.card-text-cont-start{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.card-title {
    padding: 10px 10px 10px 0;
}

.selector-button-cont{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}


.selector-option-button{
    width: 100px;
    height: 35px;
    text-transform: uppercase;
    border: none;
    border: 1px solid #36454F;
    transition: all 0.2s ease-out;
}

.selector-option-button:hover{
    background-color: #28282B;
    color: #FFFFF0;
}

.option-cont-right, .option-cont-left {
    display: flex;

}


.apart-flex-end{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 20px;
}

.card-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}