@import "../../partials/buttons";
@import "../../partials/colors";
@import "../../partials/shadows";
@import "../../partials/flexer";

.checkout-cont {
    @include FlexRow(nowrap, space-between, flex-start)
}

.submitted {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.checkout-card-cont {
    width: 800px;
    padding-top: 20px;

}

.form-cont{
    @include FlexColumn(nowrap, flex-start, flex-start);
    @include simpleShadow;
    min-width: 300px;
    padding: 20px 50px 50px 50px;
    border: 1px solid $grey;
    border-radius: 8px;
    input[type=text], input[type=email] {
        width: 100%;
        margin: 5px 0 15px;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid #D3D3D3;
        font-size: 0.9em;
    }
}

.form-cont{
    input[type=text]:focus, input[type=email]:focus{
        border: 1px solid #b3b1b1;
    }
}



.form-button-cont{
    width: 100%;
    display: flex;
    justify-content: center;
}

.checkout-button{
    @include defaultButton;
    font-weight: 400;
    
    margin-top: 20px;
    padding: 20px 30px;
    
}

.checkout-button:hover{
    @include defaultButtonHover;
}