@mixin defaultButton {
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 10px 20px;
    width: auto;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #19323c75;
    border-radius: 8px;
    transition: all 0.2s ease-out;
    box-sizing: content-box;
    transition: all 0.2s ease-out;
    
} 

@mixin defaultButtonHover {
    color: $white;
    background-color: $mainTheme-light;
    
}